<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turnos - Dra. Cinquegrani</title>
    <link rel="icon" type="image/png" href="static/img/diente-sano.png">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img src="static/img/logo-blanco.png" alt="Logo Odontología">
            <h2 class="logo-nombre">CONSULTORIO ODONTOLOGICO</h2>
        </div>
        <div class="login-btn">
            <i class="ri-login-box-line"></i>
            <h2 class="login-nombre">LOGIN</h2>
        </div>
    </header>
    <main>
        <div class="card">
            <div class="flip-card">
                <div class="front">
                    <h2>Dra. Silvana Cinquegrani</h2>
                    <h1>Bienestar para toda la familia</h1>                    
                    <p>Horario de atencion:</p>
                    <p>Martes a Viernes de 16:00 a 20:00 hs</p>
                    <p>Sábados de 08:00 a 12:00 hs</p>
                    <br>
                    <p>Av. Belgrano (N) 1471</p>
                    <br>
                    <p>Teléfono: +54 385 501-1541</p>
                    <br>
                    <button class="turno-btn" onclick="toggleCard()">Solicitar Turno</button>
                </div>
                <div class="back">
                    <form class="form-container" onsubmit="return confirmSubmission()">
                        <label class="label">
                            <input type="text" placeholder=" " class="input">
                            <span class="label_name">Ingrese su nombre</span>
                        </label>
                        <label class="label">
                            <input type="text" placeholder=" " class="input">
                            <span class="label_name">Ingrese su apellido</span>
                        </label>
                        <label class="label">
                            <input type="text" placeholder=" " class="input">
                            <span class="label_name">Ingrese su DNI</span>
                        </label>
                        <label class="label">
                            <input type="text" placeholder=" " class="input">
                            <span class="label_name">Ingrese su teléfono</span>
                        </label>
                        <label class="label">
                            <select class="input">
                                <option value=" " disabled selected></option>
                                <option value="opcion1">Opción 1</option>
                                <option value="opcion2">Opción 2</option>
                                <option value="opcion3">Opción 3</option>
                            </select>
                            <span class="label_name">Elija una Obra Social</span>
                        </label>
                        <label class="label">
                            <select class="input">
                                <option value=" " disabled selected></option>
                                <option value="opcion1">Opción 1</option>
                                <option value="opcion2">Opción 2</option>
                                <option value="opcion3">Opción 3</option>
                            </select>
                            <span class="label_name">Seleccione motivo de la consulta</span>
                        </label>
                        <label class="label label-email">
                            <input type="text" placeholder=" " class="input">
                            <span class="label_name">Ingrese su email</span>
                        </label>
                        <button class="confirm-btn" type="submit">Confirmar Solicitud</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    
    <script src="static/script.js"></script>
</body>
<footer>
    <div class="legales">
        <p>OdontoSys &copy; 2023 Desarrollado por CtrlShiftCoders</p>
    </div>
    <div class="odontoFooter">
        <a class="like">Seguinos en:</a>
        <a href="https://www.instagram.com/od.silvanacinquegrani" target="_blank" class="home__social-link">
            <i class="ri-instagram-line"></i>
        </a>
    </div>
</footer>
</html>
